In [51]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
pd.options.mode.chained_assignment = None
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix

In [54]:
#1.1
df = pd.read_csv("data/heart.csv.bz2")
df.shape #(303, 14)
df.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [55]:
#1.2
df.age.min()#29
df.age.max()#77
df.age.value_counts()
df.sex.value_counts()
df.trtbps.value_counts()
df.chol.value_counts()
df.isna().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [56]:
#1.3
print("sex, cp, fbs, restecg, exng, output")
df.columns

sex, cp, fbs, restecg, exng, output

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [57]:
#1.4
def change_to_cat(column_name):
    for i in range(len(df[column_name])):
        if df[column_name][i] == 0:
            df[column_name][i] = "zero"
        elif df[column_name][i] == 1:
            df[column_name][i] = "one"
        elif df[column_name][i] == 2:
            df[column_name][i] = "two"
        elif df[column_name][i] == 3:
            df[column_name][i] = "three"
        elif df[column_name][i] == 4:
            df[column_name][i] = "four"
change_to_cat('sex')
change_to_cat('fbs')
change_to_cat('restecg')
change_to_cat('exng')
change_to_cat('cp')
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,one,three,145,233,one,zero,150,zero,2.3,0,0,1,1
1,37,one,two,130,250,zero,one,187,zero,3.5,0,0,2,1
2,41,zero,one,130,204,zero,zero,172,zero,1.4,2,0,2,1
3,56,one,one,120,236,zero,one,178,zero,0.8,2,0,2,1
4,57,zero,zero,120,354,zero,one,163,one,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,zero,zero,140,241,zero,one,123,one,0.2,1,0,3,0
299,45,one,three,110,264,zero,one,132,zero,1.2,1,0,3,0
300,68,one,zero,144,193,one,one,141,zero,3.4,1,2,3,0
301,57,one,zero,130,131,zero,one,115,one,1.2,1,1,3,0
302,57,zero,one,130,236,zero,zero,174,zero,0.0,1,1,2,0

In [58]:
#1.4 cont
m = smf.logit("output ~ age + sex + cp + trtbps + chol + fbs + restecg + thalachh + exng + oldpeak + slp + caa + thall", data=df).fit()
m.params

Optimization terminated successfully.
         Current function value: 0.345478
         Iterations 7

Intercept          2.257239
sex[T.zero]        1.766108
cp[T.three]        0.959423
cp[T.two]          0.844761
cp[T.zero]        -1.192502
fbs[T.zero]        0.011093
restecg[T.two]    -0.836521
restecg[T.zero]   -0.497028
exng[T.zero]       0.902581
age               -0.003799
trtbps            -0.017800
chol              -0.004911
thalachh           0.022030
oldpeak           -0.495638
slp                0.578350
caa               -0.789806
thall             -0.887500
dtype: float64

In [38]:
#1.5
me = m.get_margeff().summary()
me

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:                 output
Method:                          dydx
At:                           overall
===================================================================================
                     dy/dx    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
sex[T.zero]         0.1920      0.048      4.013      0.000       0.098       0.286
cp[T.three]         0.1043      0.080      1.311      0.190      -0.052       0.260
cp[T.two]           0.0918      0.064      1.425      0.154      -0.034       0.218
cp[T.zero]         -0.1297      0.057     -2.266      0.023      -0.242      -0.018
fbs[T.zero]         0.0012      0.059      0.021      0.984      -0.114       0.116
restecg[T.two]     -0.0910      0.242     -0.377      0.706      -0.564       0.382
restecg[T.zero]    -0.0540      0.039     -1.383      0.167      -0.131       0.023
exng[T.zero]        0.0981      0.044      2.237      0.025       0.012       0.184
age                -0.0004      0.003     -0.163      0.871      -0.005       0.005
trtbps             -0.0019      0.001     -1.736      0.083      -0.004       0.000
chol               -0.0005      0.000     -1.285      0.199      -0.001       0.000
thalachh            0.0024      0.001      2.150      0.032       0.000       0.005
oldpeak            -0.0539      0.023     -2.322      0.020      -0.099      -0.008
slp                 0.0629      0.038      1.652      0.098      -0.012       0.137
caa                -0.0859      0.019     -4.533      0.000      -0.123      -0.049
thall              -0.0965      0.030     -3.226      0.001      -0.155      -0.038
===================================================================================
"""

In [39]:
#1.6
#a) Age is not statistically significant in predicting output
#b) Sex does seem to be significant
#c) The reference category is cp[1], cp[3] and cp[2] are highly associated, but not statistically significant, while cp[0] is 
#the lowest in terms of association, but is significant
#d) thall, caa, and oldpeak are all associated with a lower risk of heart attacks. These all intuitevly make sense

In [59]:
#1.7
df["age1"] = pd.cut(df.age,
                      bins = [0, 40, 55, 70, 100],
                      labels = ["0-40", "41-56", "55-70", "71 or more"],
                      right=False)
df.head(2)
m1 = smf.logit("output ~ age1", data = df).fit()
m1.get_margeff().summary()
#The age group 0-30 is the reference category

Optimization terminated successfully.
         Current function value: 0.644412
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
        Logit Marginal Effects
=====================================
Dep. Variable:                 output
Method:                          dydx
At:                           overall
======================================================================================
                        dy/dx    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
age1[T.41-56]         -0.0702      0.137     -0.511      0.609      -0.339       0.199
age1[T.55-70]         -0.3440      0.131     -2.635      0.008      -0.600      -0.088
age1[T.71 or more]    -0.1568      0.195     -0.803      0.422      -0.539       0.226
======================================================================================
"""

In [ ]:
#1.8
#Contrary to my initial thoughts, the probability of heart attacks seems to be decreasing as age goes up.
# I think that because of the fact that the majority of people in this group were experiencing chest pain, age becomes
# less of a factor because older people may be more concerned with taking care of these problems, while younger
# people may believe the fallacy that "it can't happen to them yet". This however, is just a guess

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output', 'age1'],
      dtype='object')

In [60]:
#1.9
phat = m.predict(df)
print(phat.loc[:10])

0     0.718029
1     0.719764
2     0.969094
3     0.928890
4     0.806307
5     0.746502
6     0.860697
7     0.867796
8     0.829690
9     0.938545
10    0.603322
dtype: float64

In [73]:
#1.9 cont
#adding a new row
df.loc[len(df.index)] = [60, 'one', 'two', 125, 250, 'one', 'two',df.thalachh.mean(), 'one',df.oldpeak.mean(), df.slp.mean(), 2, df.thall.mean(), 1, '55-70']
phat = m.predict(df)
print(phat.loc[304:304])
#THis person roughly has a 18.8887 of having a heart attack.

304    0.188887
dtype: float64

In [70]:
#1.9 cont
list = []
for i in range(len(phat)):
    if phat[i] < 0.5:
        list.append(0)
    else:
        list.append(1)
confusion_matrix(df.output, list)

array([[108,  30],
       [ 15, 151]])

In [72]:
#1.9 cont
from sklearn.metrics import accuracy_score
print(accuracy_score(df.output, list))

0.8519736842105263